<phpunit bootstrap="bootstrap.php"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

    <testsuites>
        <testsuite name="SocailAPI">
            <directory>SocialAPI</directory>
        </testsuite>
    </testsuites>
</phpunit>